.aboutUs{
    width: 100vw;
    height: 15vh;
    background-color: #D92323;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}


.aboutUs-box{
    width: 90vw;
    height: 33vh;
    background-color: white;
    clip-path: polygon(5% 0%, 100% 0, 95% 100%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Cinzel Decorative", serif;
    padding: .8vh .8vw;
    flex-wrap: wrap;

}

.aboutUs-box div {
    width: 100%;
    height: 100%;
    background-color: black;
    clip-path: polygon(5% 0%, 100% 0, 95% 100%, 0% 100%);
    display: flex;
    font-size: 2.5vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: .2vh 5vw;
    flex-wrap: wrap;
}

.aboutUs-box div p{
    font-size: .75rem;
}

.aboutUs-box div h1{
    font-size: 1.6rem;
}