.box{
    scroll-snap-align: center;
    min-width: 50vw;
    height: 30vh;
    background-color: black;
    border: 3px solid white;
    box-shadow: black -2vw 1vh;
    border-radius:8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2vh 2vw;
    color: white;
}

.box-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1vh;
}

.box-img img{
    width: 45vw;
    height: 12vh;

}

.box-title, .box-text{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1vh;
}



.plans h1{
    font-size: 5vw;
    margin-top: 1vh;
    margin-bottom: .5vh;
    font-family: "Cinzel Decorative";
}

.plans h2{
    padding-left: 5vw;
    font-size: 4vw;
    width: 100%;
    
}

.plans p{
    padding-left: 5vw;
}

.button{
    width: 100%;
    margin-top:auto;
    display: flex;
    justify-content: center;
}

.pannel:last-child{
    margin-right: 10vw;
}