.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
    background-image: url('./images/starBackground.png');
    background-size: cover;
  }
  
  .register-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 5px solid black;
    transform: skew(-10deg);
  }
  
  .register-card h2 {
    font-family: "Courier New", Courier, monospace;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .register-btn {
    background: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .register-btn:hover {
    transform: scale(1.1);
  }
  